<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flatfair Technical Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="dist/css/main.min.css" />

</head>

<body>
    <div id="login-modal" class="modal-area">
        <div class="modal-box">
            <input type="text" v-model="username" placeholder="Username or Email">
            <input type="password" v-model="password" placeholder="Password">
        </div>
    </div>
    <div class="grid-wrapper">
        <div class="logo-area">
            <img class="logo" src="/src/assets/Flatfair_logo_RGB-04.png" alt="">
        </div>
        <div class="button-area">
            <button class="login-button">Log In</button>
            <button class="signup-button">Sign Up</button>
        </div>
    </div>
    <div id="register" class="sign-up-area">

    </div>

</body>


<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="/src/js/main.js"></script>

</html>