@import 'normalise';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Background image */
html, body {
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    width                  : 100%;
    height                 : 100%;
    font-family            : 'Roboto',                                                            sans-serif;
    background             : linear-gradient(360deg, rgba(255,255,255,0.4), rgba(255,255,255,1)), url('/src/assets/london_backdrop.jpg') center center no-repeat;
    color: white;

    &.disable-scroll {
        overflow: hidden;
    }
}

h1 {
    margin: 0;
}

div#login-app {
    height: 100%;
    width: 100%;
}

div.grid-wrapper {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows       : minmax(200px, auto);
    height: 100%;
}

.logo-area {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    grid-column-start: 2;
}

.logo {
    max-width: 80%;
    height   : auto;
}

/* Log In and Sign Up buttons */
.button-area {
    grid-row   : 2;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

%button {
    padding: 15px 35px;
    color     : white;
    border: none;
    border-radius: 25px;
}

.login-button {
    @extend %button;
    background: #434a62;
}

.signup-button {
    @extend %button;
    background: #6a9af4;
}

/* Login pop-up modal */

.modal-area {
    background: #444444;
    box-sizing: border-box;
    cursor    : pointer;
    height    : 100%;
    left      : 0;
    opacity   : 0;
    overflow-y: auto;
    position  : fixed;
    top       : 0;
    visibility: hidden;
    width     : 100%;
    z-index   : 5;

    &.open {
        visibility: visible;
        opacity: 0.8;
    }
    
    .modal-box {
        background-color: #434a62;
        margin          : 15% auto;
        position        : relative;
        width           : 80%;
        max-width       : 700px;
        display         : grid;
        padding         : 50px;
        border-radius   : 10px;
        cursor: initial;
        opacity: 1;
        
    }

}

.sign-up-area {
    width     : 100%;
    min-height    : 100%;
    height: auto;
    background: #434a62;
    
}

.signup-type-switch {

    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    
    .type-switcher {

        text-align: center;
        margin: auto 0;
        border: 5px solid white;
        border-radius: 50%;
        padding: 10px;
        width: 100px;
        height: 100px;

        .fas {
            font-size: 3em;
        }
    }
}

.signup-form {
    width: 50%;
    display: grid;
    grid-gap: 20px;
    padding: 15vh 0;
    margin: auto;
    font-size: 20px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        background: transparent;
        border: 2px white solid;
        border-radius: 2px;
        line-height: 1.2em;
        color: white;
        padding: 5px;
    }
}